<div class="container form-signin align-content-center justify-content-center">
  <h1 class="h3 fw-normal" style="margin-top: 70px; margin-bottom: 50px">Log in</h1>
  <form class="row g-3 justify-content-center">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="username">
      <label for="floatingInput" style="margin-left: 10px">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword" style="margin-left: 10px">Password</label>
    </div>
    <button class="col-4 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</div>