<div class="container">
  <div class="row" style="margin-bottom: 40px; margin-top: 40px">
    <h2>Название блюда</h2>
  </div>

  <div class="row justify-content-between" style="justify-content: center">
    <div class="col-4">
      <div>
        <img class="img-fluid rounded" src="https://www.povarenok.ru/data/cache/2013mar/09/33/304779_61748-640x480.jpg"
             style="margin-bottom: 40px">
      </div>
      <div>
        <p>
          Сложность блюда: <%= %></br>
          Время приготовления: <%= %> мин. </br>
        </p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <div>
        <p>Список ингридиентов</p>
        <ul>
          <li>фываф</li>
        </ul>
      </div>

      <div>
        <p>
          Инструкция
        </p>
      </div>
    </div>
  </div>
</div>